html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.ishow{
    /*display: none;*/
}
.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}
.first{
    width: 100%;
    height: 100%;
//  background: url('../imgs/map.png') no-repeat;
//  background-size:cover;
//  background-size: contain;
    background-size: 100%;
    /*transition: all 2s linear;*/
    background-origin:border-box;
    animation: firstBackground 2s  ;/*infinite linear*/
}
.thr{
    width: 100%;
    background: url('../imgs/one_bg_weixing.png') no-repeat;
    background-size:cover;
    /*background-size: contain;*/
    /*transition: all 2s linear;*/
    background-origin:border-box;
}
@keyframes firstBackground {
    from{ 
        background: white;
    }to{
        background: white;
    }
}
@keyframes firstLoading {
    from{ 
        color: black;
    }to{
        color: black;
    }
}
.header_right{
    position: absolute;
    margin: .4rem 0 0 0;
    right: .2rem;
    top: 0;
    z-index: 998;
}
.header_right li{
    float: right;
   position: relative;
}
#headerRightImg{
     width: .42rem;
    height: .42rem;
    background: url('../imgs/one_icon_dingwei.png') no-repeat;
    background-size: contain;
}
#headerRightText{
    font-size: .32rem;
    padding: 0.05rem 0 0 .1rem;
    color: white;
}
.upload{
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    z-index: 998;
}
.html-header{
    width: 100%;
    margin: .4rem 0 0 0;
    overflow: hidden;
}
.add_po{
    position: absolute;
    top: 0;
    left: 0;
}
.header-top{
    color: white;
    font-size: .32rem;
    padding: 0 0 .17rem .25rem;
    line-height: .36rem;
    height: .36rem;
    text-align: left;
}
.heaer-down{
    width: 2.38rem;
    height: .13rem;
    background: url('../imgs/one_bg_name.png') no-repeat;
    background-size: contain;
    position: relative;
    z-index: 99;
    opacity: 1;
}
.banckground_blue{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(3,141,246,.8);
}
.dy_img,{
    width: .42rem;
    height: .42rem;
    background: url('../imgs/one_icon_dingwei.png') no-repeat;
    background-size: contain;
    /****如果写了infinite就不能有!important,不然不会执行alternate*/
    animation:moveDy_img 7s  ;
    animation-direction:alternate ;/*当有infinite时,来回的重复*/
    /*animation-name: moveDy_img !important;*/
    animation-delay:1s;/*-2s立马执行，跳过2秒。2s延迟2秒*/
    /*animation-delay*/
    opacity:1;/*透明度*/
    position: absolute;
    top: .4rem;
    right: 1.8rem;
//  left: 5.14rem;
//  top: 5.33rem;
//  width: .8rem;
//      height: .8rem;
    z-index: 999;
    /*第一下是否显示最初的位置*/
    /*animation-fill-mode: both;*/
}
@keyframes moveDy_img{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        position: absolute;
        left: 0rem;
        top:5.33rem;
    }
    50%{
        opacity: 1;
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    60%{
        opacity: 1;
        position: absolute;
        width: .8rem;
        height: .8rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    70%{
        opacity: 1;
        position: absolute;
        width: .8rem;
        top: 5.65rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    80%{
        opacity: 1;
        left: 3.75rem;
        position: absolute;
        width: .8rem;
        height: .8rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    95%{
        opacity: 1;
        position: absolute;
        width: .8rem;
        height: .8rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    
    96%{
        opacity: 0;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
    }
    99%{
        opacity: 0;
        position: absolute;
        top: .4rem;
        right: 1.8rem;
    }
    100%{
        opacity: 1;
        position: absolute;
        top: .4rem;
        right: 1.8rem;
    }
}
.dy_name_size{
    font-size: 0rem;
}
.dy_name{
    font-size: .32rem;
    position: absolute;
    top: .44rem;
    right: .35rem;
    color: white;
    animation:moveDy_name 7s;
    /*让动画反起运行*/
    /*animation-direction:reverse;*/
    opacity:1;
    animation-delay:1s;
    z-index: 999;
}


@keyframes moveDy_name{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        position: absolute;
        right: 0rem;
        top: 6.32rem;
    }
    50%{
        opacity: 0;
        position: absolute;
        right: 0rem;
        top: 6.32rem;
    }
    
    65%{
        opacity: 0.5;
        position: absolute;
        right: 1.41rem;
        top: 6.32rem;
        font-size: .3rem;
//      transform: scale(1);
        //如果用transform，那么自体将会失真
    }
    70%{
        opacity: 1;
        position: absolute;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .5rem;
//      right: 1.41rem;
//      transform: scale(1.5);
       
    }
    80%{
        opacity: 1;
        position: absolute;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
//      right: 1.41rem;
//      transform: scale(1.25);
        
    }
    95%{
        opacity: 1;
        position: absolute;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
//      right: 1.41rem;
//      transform: scale(1.25);
        
    }
    96%{
        position: absolute;
        opacity: 0;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
//      right: 1.41rem;
//      transform: scale(1.25);
       
    }
    97%{
        position: absolute;
        opacity: 0;
        top: .44rem;
        right: 0rem;
    }
    100%{
        position: absolute;
        opacity: 0;
        top: .44rem;
        right: .35rem;
        
    }
}
.animateTimeImg{
    animation:moveTwoImg 5s;
}
@keyframes moveTwoImg{
    0%{
        opacity: 0;
        position: absolute;
        left: 1.5rem;
        top: 5.33rem;
    }
    25%{
        opacity: 1;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
        width: 1.2rem;
        height: 1.2rem;
    }
    50%{
        opacity: 1;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
        width: .8rem;
        height: .8rem;
    }
    60%{
        opacity: 1;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
    }
    70%{
        opacity: 1;
        position: absolute;
        width: .8rem;
        height: .8rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    80%{
        opacity: 1;
        position: absolute;
        width: .8rem;
        height: .8rem;
        left: 5.14rem;
        top: 5.33rem;
    }
    95%{
        opacity: 1;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
        width: .8rem;
        height: .8rem;
    }
    96%{
        opacity: 0;
        position: absolute;
        left: 5.14rem;
        top: 5.33rem;
    }
    99%{
        opacity: 0;
        position: absolute;
        top: .4rem;
        right: 1.8rem;
    }
    100%{
        opacity: 1;
        position: absolute;
        top: .4rem;
        right: 1.8rem;
    }
}
.animateTimeName{
    animation:moveTwoName 5s;
}
@keyframes moveTwoName{
    0%{
        opacity: 0;
        position: absolute;
        right: 0rem;
        top: 6.32rem;
    }
    35%{
        opacity: 0;
        right: 0rem;
        top: 6.32rem;
        font-size: .32rem;
    }
    45%{
        opacity: 1;
        right: 1.41rem;
        top: 6.32rem;
        font-size: .32rem;
    }
    55%{
        opacity: 1;
        right: 1.41rem;
        top: 6.32rem;
        font-size: .32rem;
    }
    65%{
        opacity: 1;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .5rem;
    }
    75%{
        opacity: 1;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
    }
    95%{
        opacity: 1;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
    }
    96%{
        opacity: 0;
        right: 1.11rem;
        top: 6.32rem;
        font-size: .44rem;
    }
    99%{
        opacity: 0;
        top: .44rem;
        right: .35rem;
    }
    100%{
        opacity: 1;
        top: .44rem;
        right: .35rem;
    }
}
.stopAnimate{
    animation: stop;
}
.apple_p{
    /*position: absolute;
    bottom: 0;*/
    margin-top: .45rem;
}
.yt_apple_header{
    font-size: .4rem;
    color:#FFFF00  ;
}
.yt_apple_children{
    text-align: left;
    /*padding: .34rem .4rem 1.33rem .4rem;*/
    font-size: .24rem;
    color: #D1E4F5 ;
    line-height: .34rem;
    /*padding: .34rem .4rem 1rem .4rem;*/
    padding: .34rem .4rem 0.2rem .4rem;;
    /*height: 2.5rem;*/
    /*height: 2rem;*/
    height: 1.8rem;
    overflow: hidden;
}
.first-position{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.allContent{
    width: 100%;
    overflow: hidden;
    /*display: none;*/
}
.tree-img{
    display: block;
    width: 4.85rem;
    height: 4.24rem;
    margin: 2.9rem auto auto auto;
    position: relative;
}
.apple-background{
    width: 1.81rem;
    height: 1.81rem;
//  box-sizing: content-box;
//  padding-top: 20%;
    border-radius: 50%;
    background: url('../imgs/one_bg_point.png') no-repeat;
    background-size: contain;
    position: relative;
    margin:-.43rem auto auto auto;
}
.apple-background img{
    width: 1.45rem;
    height: 1.45rem;
    display: block;
//  margin-top: .18rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.apple-list{
    width: 100%;
    padding-left: 1.26rem;
    overflow: hidden;
    position: absolute;
    top: 5.18rem;
    left: 0rem;
}
.apple-list div{
    float: left;
    width: .28rem;
    font-size: .28rem;
    color: #FFFF00;
    line-height: .32rem;
    overflow: hidden;
}
.apple-list-two{
    margin: 0 .77rem 0 .97rem;
}
.apple-list-thr{
    margin: 0  1.23rem 0 0;
}

.apple-list-children{
    font-size: .2rem;
    /*position: absolute;
    top: 2rem;
    left: .82rem;*/
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 2.2rem;
    top: 1.2rem;
    color: white;
}
.apple-list-children div{
    float: left;
}
.apple-list-children p{
    text-align: center;
    font-size: .2rem;
    line-height: .24rem;
    overflow: hidden;
}
.apple-list-children img{
    display: block;
    margin: auto;
}
.a-l-c-1{
    width: 1.2rem;
    overflow: hidden;
    position: absolute;
    bottom: -0.12rem;
    left: .8rem;
    
}
.a-l-c-1 p{
    font-size: .28rem;
    line-height: .32rem;
}
.a-l-c-2{
    width: 1rem;
    overflow: hidden;
    position: absolute;
    bottom: -0.3rem;
    left: 2.14rem;
}
.a-l-c-3{
    width: 1.2rem;
    overflow: hidden;
    position: absolute;
    bottom: 0.5rem;
    left: 2.45rem;
}
.a-l-c-4{
    width: 1.2rem;
    overflow: hidden;
    position: absolute;
    left: 3.1rem;
    bottom:1.15rem ;
    
}
.a-l-c-5{
    width: .7rem;
    overflow: hidden;
    position: absolute;
    right: 2.62rem;
    bottom: .53rem;
}
.a-l-c-6{
    width: 1rem;
    overflow: hidden;
    position: absolute;
    bottom: .78rem;
    right: 1.78rem;
}
.a-l-c-7{
    width: 1rem;
    overflow: hidden;
    position: absolute;
    bottom: .31rem;
    right: .91rem;
}

.a-l-c-1 img{
    width: 1.12rem;
    height: 1.12rem;
}

.a-l-c-2 img{
    width: .26rem;
    height: .26rem;
}
.a-l-c-3 img{
    width: .36rem;
    height: .36rem;
}
.a-l-c-4 img{
    width: .87rem;
    height: .87rem;
}
.a-l-c-5 img{
    width: .26rem;
    height: .26rem;
}
.a-l-c-6 img{
    width: .73rem;
    height: .73rem;
}
.a-l-c-7 img{
    width: .73rem;
    height: .73rem;
}
.html-header-left{
    position: relative;
    float: left;
}
.html-header-right{
    float: right;
}
.html-header-right-1{
    font-size: .24rem;
    line-height: .48rem;
    text-align: center;
    float: right;
    margin: 0 .1rem 0 0;
    width: 1.4rem;
    height: .48rem;
    border-radius: .24rem;
    color: #782F13 ;
    opacity:1;
    background: rgba(255,255,255,1);
    position: relative;
    z-index: 999;
}
.right-margin{
    margin-right: .2rem;
}
.yy-color{
    position: relative;
    z-index: 999;
    opacity:1;
    background: white;
}
.administration{
    width: 100%;
    margin-top: 0.72rem;
    position: relative;
    overflow: hidden;
}
.administration-children{
    width: 1.4rem;
    font-size: .32rem;
    line-height: .36rem;
    height: .32rem;
    /*border-radius: .35rem;*/
    color: #782F13 ;
    /*background: #FFFF00 ;*/
    opacity:1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -.1rem;
    margin: auto;
}
.administrationAnimation{
    animation: administrationPadding .5s  ;
    opacity:1;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
.administration-children-img{
    /*写了animate的class=ani就不用写下面的了*/
    visibility: visible;
    /*继承前后的属性，前指的是visibility: visible;后指的是动画100%的属性*/
    animation-fill-mode: both;
    -webkit-animation-fill-mode:both;
    width: 4.12rem;
    height: 0.82rem;
    display: block;
    margin: auto;
    
}
@keyframes administrationPadding{
    from{
        width: 0;
        margin-right: auto auto auto 0;
    }
    to{
        width: 4.12rem;
        /*margin-right:auto auto auto 2.06rem;*/
    }
}
.line-img{
    width: 100%;
    height: 7.85rem;
    position: relative;
}
.line-img-img{
    position: relative;
    width: 6.14rem;
    
    margin: auto;
    display: block;
}
.lastqiu{
    display: block;
    width: .65rem;
    height: .65rem;
    background: url('../imgs/three_bg_imp.png') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -0.32rem;
    left:3.43rem;
    z-index: 123;
}
.tj-message{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 3.68rem;
    
}
.tj-message-1{
//  width: 6.8rem;
//  overflow: hidden;
//  margin: auto auto .54rem auto;
    width: 6.8rem;
    height: 2.1rem;
    margin: auto auto auto auto;
    img{
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        float: left;
        margin: 0 0 0 .2rem;
        border-radius: 50%;
    }
}
.tj-message-1-1{
    width: 4.42rem;
    overflow: hidden;
    float: left;
}
.tj-message-1-1 div{
    font-size: .28rem;
    line-height: .32rem;
    height: .3rem;
    color: white;
    margin: .12rem 0 .17rem 0;
    text-align: right;
}
.tj-message-1-1 div span{
    padding-left: .1rem;
}
.tj-message-1-1 p{
    text-align: right;
    color: #D1E4F5 ;
}
.tj-message-1-1 .tj-message-right-p{
    text-align: left;
}
.tj-message-1-1{
    font-size: .2rem;
    line-height: .28rem;
}
.tj-message-1-1 .twoName{
    text-align: left;
}
.tj-message-1-img{
    width: 1.6rem;
    height: 1.6rem;
    display:block;
    float: left;
    margin: 0 0 0 .2rem;
    border-radius: 50%;
}
.tj-message-1-radius{
    width: .7rem;
    height: .7rem;
    background: url('../imgs/three_img_bgbgbg.png') no-repeat;
    background-size: contain;
    color: #782F13 ;
    line-height: .72rem;
    font-size: .32rem;
    float: left;
    margin: .44rem 0 0 -0.2rem;
}
.tj-message-right-radius{
    margin: .44rem -0.2rem 0 0rem;
    z-index: 9;
    position: relative;
}
.tj-message-right-img{
    margin: 0 .2rem 0 0rem;
}
/*因为动态生成后再去new那个swiper,没用，先这样用着*/
.animated_ajax_0{
    visibility: visible;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-delay: 2.8s;
    -webkit-animation-delay: 2.8s;
    animation-name: rotateInUpLeft;
    animation-fill-mode: both;
    
}
.animated_ajax_1{
    visibility: visible;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-delay: 3.2s;
    -webkit-animation-delay: 3.2s;
    animation-name: rotateInUpRight;
    animation-fill-mode: both;
}
.animated_ajax_2{
    visibility: visible;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;
    animation-name: zoomIn;
    animation-fill-mode: both;
}
//地图隐藏图标
.button-group{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.amap-ui-control-layer{
        display: none;
    }
    .amap-logo{
        display: none !important;
    }
    .amap-copyright{
        display: none !important;
    }    
.area_name{
    position: absolute;
    color: white;
    font-size: .32rem;
}
//评价
.evaluateContent{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1.15rem auto auto auto ;

}
.evaluateMeFather{
    width: 100%;
    overflow: hidden;
}
.evaluateMe{
    width: 6.98rem;
    height: 4.86rem;
    border: 1px solid #FFFF00;
    margin: auto auto auto auto ;
    .text{
        box-sizing: border-box;
        width: 100%;
        height: 3.5rem;
        background: transparent;
        font-size: .2rem;
        outline: none;
        border: none;
        text-indent: .42rem;
        line-height: .34rem;
        padding:.4rem .15rem .15rem .15rem;
        color: white;
    }
    textarea {
      resize : none;
    }
    
//  .text:-moz-placeholder { 
//      /* Mozilla Firefox 4 to 18 */
//　　      color:#D6D6D6;
//　　}
//　　.text::-moz-placeholder { 
//  /* Mozilla Firefox 19+ */
//　　      color:#D6D6D6;
//　　}
//　　.text:-ms-input-placeholder {
//   /* Internet Explorer 10+ */    
//　　      color:#D6D6D6;
//　　}
    .text::-webkit-input-placeholder{ color:#D6D6D6;}
    .henxian{
        float: right;
        width: 94%;
        height: 1px;
        background: #FFFF00 ;
    }
    .rate{
        width: 100%;
        overflow: hidden;
        margin: .3rem 0 0 0;
        
        span{
            display: inline-block;
            font-size: .3rem;
            color: white;
            float: left;
            padding: .05rem 0 0 .45rem;
        }
        
        
//      .star{
//          font:24px SimSun;
//          width:130px;
//          margin-left:auto;
//          margin-right:auto;
//      }
        
    }
   
}
.wrapper{
            height:.4rem;
            padding:.01rem;
            width:2.6rem;
            margin:0px 0px 0px .2rem;
            float: left;
            a{
                float:left;
                width:.52rem;
                height:.4rem;
                background:url('../imgs/talk.png') 0 -.4rem no-repeat;
                text-decoration: none;
                -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
                -moz-tap-highlight-color:rgba(0, 0, 0, 0);
                -ms-tap-highlight-color:rgba(0, 0, 0, 0);
                -o-tap-highlight-color:rgba(0, 0, 0, 0);
                tap-highlight-color:rgba(0, 0, 0, 0);
                background-size: 100%;
            }
            .starA_xx{
                background:url('../imgs/talk.png') 0 0px no-repeat;
                background-size: 100%;
            }
}
 .sendEvaluate{
    font-size: .32rem;
    width: 4.11rem;
    height: .7rem;
    background: #FFFF00 ;
    border-radius: .4rem;
    margin: .35rem auto 0;
    color: #782F13;
    line-height: .7rem;
}
.erweima{
    width: 100%;
    overflow: hidden;
    margin: .3rem 0 0 0;   
}
.erweimaImg{
    width: 2.71rem;
    height: 2.71rem;
    display: block;
    float: left;
    margin: .0rem .3rem 0 0.3rem;
}
.erweimaText{
    float: left;
    margin: .8rem 0 0 0;
    p{
         text-shadow: 1px 1.732px 2px #782F13;
    }
    .erweimaText_header{
        font-size: .36rem;
        color: white;
    }
    .erweimaText_text{
        margin: .24rem 0 0 0;
        font-size: .26rem;
        color: #FFFFFF;
    }
    
}
.evaluateLook{
    width: 100%;
    overflow: hidden;
}
#evaluateLookC{
    width: 100%;
    height: 7.86rem;
    .zanwupl{
        font-size: .6rem;
        text-align: center;
        color: white;
        padding-top: 4rem;
//      rgba(17, 112, 190, 1)
        text-shadow: 1px 1.732px 2px #782F13;
    }
}
.evaluateLook_list{
    width: 6.89rem;
    height: 1.7rem;
    margin: auto  auto .3rem auto;
    border: 1px solid #FFFF00 ;
    overflow: hidden;
    position: relative;
//  background: url('../imgs/tail_box.png') no-repeat;
//  background-size: contain;
}
.lookLeft{
    width: 100%;
    overflow: hidden;
}
.lookTime{
    padding: .32rem 0 .2rem .2rem;
    font-size: .2rem;
    color: #D6D6D6;
    float: left;
}
.lookStar{
    float: right;
    padding: .2rem .2rem 0 0;
}
.lookContent{
    width: 100%;
    height: .94rem;
    p{
        color: white;
        font-size: .28rem;
        text-align: left;
        padding:0 0 0 .2rem;
        line-height: .34rem;
    }
}
.before_first_content{
    position: relative;
    margin: .35rem 0 0 0;
    width: 100%;
    overflow: hidden;
}
.company_introduce{
    width: 6.89rem;
    height: 4.2rem;
    margin: auto;
    border: 1px solid #FFFF00;
}
.company_heaer{
    text-align: center;
    color: #FFFF00;
    font-size: .36rem;
    margin: .3rem 0 .18rem 0 ;
}
.company_code{
    text-align: center;
    font-size: .24rem;
    color: white;
    margin: 0 0 .34rem 0;
}
.company_code_first{
    padding-right: .3rem;
}
.company_siyang{
    width: 100%;
    overflow: hidden;
    margin:  0 0 .2rem 0;
    p{
        color: #FFFFFF;
        font-size: .24rem;
        line-height: .26rem;
        float: left;
        text-align: left;
    }
    .company_1{
        padding-left: .27rem;
//      padding-right: .47rem;
        width: 2.5rem;
        margin-right: .47rem;
        text-align: left;
    }
    .company_2{
        width: 3.64rem;
    }
}
.company_jieshao_father{
    width: 6.41rem;
    height: 1.56rem;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.company_jieshao{
    font-size: .2rem;
    width: 6.41rem;
//  height: 1.56rem;
//  max-height: 1.56rem;
    min-height: 1.14rem;
    background: #FFFFCD;
    background: rgba(255, 255, 205, .9);
    box-sizing: border-box;
    padding: .15rem;
    color: #782F13 ;
    margin: .1rem auto auto auto;
    line-height: .28rem;
    overflow: hidden;
    text-align: left;
}
.company_two{
    .company_two_header{
        font-size: .38rem;
        line-height: .42rem;
        height: .42rem;
        color: #FFFF00 ;
        margin: .32rem 0 .28rem 0;
    }
    width:6.89rem ;
    height: 3.4rem;
    margin: auto;
    border: 1px solid #FFFF00 ;
    margin: .4rem auto .4rem auto;
    .swiper-wrapper{
        background: transparent;
        height: 2.32rem;
        .swiper-slide {
            background: transparent;   
        }
        img{
            width: 2.3rem;
            width: 100%;
            height: 1.78rem;
            display: block;
        }
        p{
            text-align: center;
            padding-top: .16rem;
            font-size: .24rem;
            height: .26rem;
            line-height: .26rem;
            color: #FFFFFF ;
        }
    }
}
.company_thr{
    width: 6.89rem;
    height: 1.73rem;
    background: url('../imgs/qiyejies-_box(1).png') no-repeat;
    background-size:contain;
    text-align: center;
    margin: auto;
}
.gongzonghaoImg{
    width: 1.06rem;
    height: 1.06rem;
    display: block;
    float: left;
    margin: .28rem .97rem 0 .28rem;
}
.gongzonghao{
    color: #FFFF00 ;
    font-size: .38rem;
    line-height: .42rem;
    font-family:NotoSansCJKsc-Bold;
    height: .42rem;
    float: left;
    margin: .63rem 0 0 0;
}
.indexHtml{
    position: relative;
//  margin: .68rem 0 0 0;
    width: 100%;
    overflow: hidden;
    img{
        width: 96%;
        margin: auto;
        display: block;
    }
    .index-img-1{
//      width: 6.59rem;
//      height: 7.36rem;
        width: 100%;
        height: 100%;
        margin: auto;
//      background: url('../imgs/home_img.png') no-repeat;
        background: url('../imgs/index_map.png') no-repeat;
        background-size: contain;
    }
    .index-img-2{
        width:3.93rem;
        height: .51rem;
        margin: .44rem 0 .29rem .41rem;
        background: url('../imgs/firstApple.png') no-repeat;
        background-size: contain;
    }
    p{
        font-size: .2rem;
        line-height: .32rem;
        color: #FFFFFF ;
        padding: 0 .2rem 0 .37rem;
        text-align: left;
        text-indent: .4rem;
        font-family:NotoSansCJKsc-Regular;

    }
}
.popup{
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999999;
    font-size: .24rem;
    background: rgba(0,0,0,.5);
    display: none;
}

.popup_introduce{
    background: white;
    width: 6rem;
    border-radius: .2rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    padding: 0 0 .15rem 0;
    h4{
        font-size: .3rem;
        text-align: center;
        padding: .2rem;
        line-height: .34rem;
        height: .34rem;
        border-bottom: .01rem solid #D6D6D6;
    }
    .h4{
        font-size: .3rem;
        padding: .2rem;
        line-height: .34rem;
        height: .34rem;
        border-bottom: .01rem solid #D6D6D6;
        .h4_left{
            float: left;
        }
        .h4_right{
            float: right;
            font-size: .2rem;
            color: #666666;
            span{
                font-size: .2rem;
                color: #666666;
            }
        }
    }
    .content{
        padding: .2rem;
        text-indent: .4rem;
        line-height: .3rem;
        min-height: 1.5rem;
    }
    .colse{
        width: 1.5rem;
        height: .5rem;
        margin:  0 auto .1rem auto;
        font-size: .3rem;
        background: rgb(8,139,239);
        text-align: center;
        line-height: .5rem;
        border-radius: .1rem;
        color: white;
        
    }
}
.mb_div,.mb_div_1{
    width: 100%;
    display: none;
    height: .5rem;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    /*background-color:red ;*/
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.2),  rgba(255,255,255,1));        /* IE 10 */
    background:-moz-linear-gradient(top,rgba(255,255,255,.2), rgba(255,255,255,1));/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from( rgba(255,255,255,0.2)), to( rgba(255,255,255,1)));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255,255,255,0.2)), to( rgba(255,255,255,1)));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,1));   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,1));  /*Opera 11.10+*/
    background: linear-gradient(to bottom,rgba(255,255,255,.2), rgba(255,255,255,1)); /* 标准的语法 */
}
.mb_div_1{
    height: .6rem;
//  display: block;
    background: -ms-linear-gradient(top,  rgba(3, 141, 246, 0.3),  rgba(255,255,255,1));        /* IE 10 */
    background:-moz-linear-gradient(top,rgba(3, 141, 246, 0.3), rgba(255,255,255,1));/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from( rgba(3, 141, 246, 0.3)), to( rgba(255,255,255,1)));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(3, 141, 246, 0.3)), to( rgba(255,255,255,1)));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, rgba(3, 141, 246, 0.3), rgba(255,255,255,1));   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, rgba(3, 141, 246, 0.3), rgba(255,255,255,1));  /*Opera 11.10+*/
    background: linear-gradient(to bottom,rgba(3, 141, 246, 0.3), rgba(255,255,255,1)); /* 标准的语法 */
    background: linear-gradient(to bottom,rgba(3, 141, 246, 0.3), rgba(255,255,255,1)); /* 标准的语法 */
// rgba(2, 127, 220, 1)
}
.checkMore{
    width: 4.11rem;
    height: .7rem;
    background: #FFFF00;
    font-size: .3rem;
    line-height: .7rem;
    border-radius: .35rem;
    margin: .3rem  auto 0 auto;
    color: #782F13;
}
.allEvaluate{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(3, 141, 246, 1);
    background: #027fdc;
    position: absolute;
    top: 0;
    z-index: 999999;
    display: none;
    .allEvaluateList{
        margin: .2rem 0 0 0;
        width: 100%;
        overflow: hidden;
    }
}
.allpinglun{
    width: 100%;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size:.4rem;
    color: #FFFF00;
}
.fanhuia{
    width: 100%;
    height: .7rem;
}
.fanhui{
    width: 4.11rem;
    width: 100%;
    height: .7rem;
    background: #FFFF00;
    font-size: .3rem;
    line-height: .7rem;
//  border-radius: .35rem;
    margin:.4rem  auto .25rem auto;
    margin: auto;
    color: #782F13;
    position: fixed;
    bottom: 0;
    display: none;
    text-align: center;
    z-index: 10000;
}
.dialog{
    width: 2.5rem;
    height: 2.6rem;
    border-radius: .16rem;
    background: rgba(0,0,0,.6);
    position: absolute;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    .dialogIcon{
        width: .86rem;
        height: .86rem;
        margin: .5rem auto .3rem auto ;
        background: url('../imgs/success.png') no-repeat;
        background-size: contain;
    }
    .dialogContent{
        font-size: .3rem;
        text-align: center;
        color: white;
    }
    
}
    